@import url("https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #ede7f6;
  font-family: "Love Ya Like A Sister", sans-serif;
  overflow: hidden;
}

.card {
  width: 100%;
  border-radius: 5px;

  img {
    border: 5px solid #e1f5fe;
    max-width: 40vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  button {
    width: 100%;
  }

  .piechart {
    max-width: 40vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
