/* SCSS HEX */
$light-cyan: #cdf7f6ff;
$aero: #8fb8deff;
$blue-bell: #9a94bcff;
$razzmic-berry: #9b5094;
$dim-gray: #6a605cff;

$border-bottom-input: 1px dashed rgba(0, 0, 0, 0.25);
$border-bottom-input-focus: 1px solid rgba(0, 0, 0, 0.75);
$border-bottom-transition: border-bottom 0.5s ease;
